/*
Nombre del archivo: Crear.css
Fecha de creación: 28-10-2022

Archivo de estilos para desplegar los elementos HTML de Crear.js.
*/


.crear-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem 0 2rem 0;
  min-height: max-content;
}

.bot-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  overflow-y: auto;
  width: 35rem;
  height: 40rem;
  overflow-y: auto;
  background-color: #95cee0;
  border-radius: 10px;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
  padding: 0 1rem 0 1rem;
}

.text-format {
  font-family: Arial, Helvetica, sans-serif;
  color: #052f55;
}

.graphic-format {
  width: auto;
  height: 25rem;
  float: center;
}

.image-bot-format {
  width: auto;
  height: 25rem;
  float: center;
}

.bot {
  height: 25rem;
  width: 30rem;
}


.file-select{
  display: inline-block;
  padding: 8px 20px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #ffff;
  background-color: #95cee0;
  border: none;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
}


.file-select:hover {background-color: #81C1D5}

.file-select:active {
  background-color: #95cee0;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
  transform: translateY(4px);
}



.upload-btn {
  display: inline-block;
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #ffff;
  background-color: #95cee0;
  border: none;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
}


.upload-btn:hover {background-color: #81C1D5}

.upload-btn:active {
  background-color: #95cee0;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
  transform: translateY(4px);
}