/* Crear */
.crear-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem 0 2rem 0;
  min-height: max-content;
}

.bot-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  overflow-y: auto;
  width: 35rem;
  height: 65rem;
  overflow-y: auto;
  background-color: #95cee0;
  border-radius: 10px;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
  padding: 0 1rem 0 1rem;
}
