/* 
Nombre del archivo: Dashboard.css
Fecha de creación: 28-10-2022

Archivo de estilos para desplegar los elementos HTML de Dashboard.js. 
*/
.dashboard-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 85rem;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 3%;
  flex-wrap: wrap;
  padding: 2rem 0rem 2rem 0rem;
  min-height: max-content;
  background-color: #95cee0;
  border-radius: 10px;
}

.text-format {
  font-family: Arial, Helvetica, sans-serif;
  color: #052f55;
}

.image-format {
  width: auto;
  height: 50rem;
  float: center;
}
