/* 
Nombre del archivo: Menu.css
Fecha de creación: 28-10-2022

Archivo de estilos para desplegar los elementos HTML de Menu.js.
*/

.barra-navegacion {
    background-color: #FFFF;
    overflow: hidden;
  }
  
  .barra-navegacion a{
    float: right;
    color: #706F6F;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .barra-navegacion a:hover{
    background-color: #706F6F;
    color: #FFFF;
  }
  
  .barra-navegacion a.active{
    background-color: #706F6F;
    color: #FFFF;
  }


  .logo-image {
    width: auto;
    height: 5rem;
    float: left;
  }